.homeContainer{
    text-align: center;
}

.img{
    width: 95%;
    margin-top: 30px;
}

.text1{
    position: relative; 
    margin: 0 auto;
    bottom: 200px;
    width: 90%;
    height: 100vh;
    color: #FDE78F;
    font-size: 50px;    
}

.content2{
    background-color: #F84040;
    width: 95%;
    padding-bottom: 7%;
    margin: 0 auto;
}

.hImg2{
    width: 45%;
    border-radius: 5px;
    border:2px solid black;
    float: right;
    margin-top: 4%;
    margin-right: 40px;
}

.hImg3{
    position: static;
    z-index: -1;
}

.text3{
    position: relative;
    bottom: 200px;
}

