.topBar {
  margin: 1%;
  display: flex;
  justify-content: space-between;
}

.cLogo{
  display: none;
}

.cName {
  font-size: 230%;
  font-weight: 700;
  color: red;
}

.black {
  color: black;
}

.topItems {
  width: 50%;
}

.cart {
  background-color: red;
  position: absolute;
  left: 60%;
  border: none;
  border-radius: 20px;
  font-size: 100%;
  width: 10%;
  padding: 10px;
}

.cart button:hover {
  color: white;
  background-color: #3b456e;
  cursor: pointer;
}

.loginBtn {
  border: 1px solid black;
  font-size: 90%;
  position: absolute;
  left:75%;
  background-color: white;
  padding: 10px 17px;
  box-shadow: 1px 1px 4px;
  cursor: pointer;
}

.loginBtn :hover {
  color: gray;
}

.search-container i{
  position: absolute;
  left: 90%;
  top: 80px;
  color: rgb(255, 255, 255) !important;
}

.searchBar:hover {
  background-color: #fde4ec;
}

.searchBar {
  height: 40px;
  width: 45%;
  position: absolute;
  top: 70px;
  border-radius: 50px;
  background-color: black;
  font-size: larger;
  color: white !important;
  padding-left: 30px;
  border: 0px solid black;
}

.search-container input::placeholder {
  color: white !important;
  font-size: large !important;
}

.navBar{
  z-index: 1;
}

.navItems ul {
  display: flex;
  font-size: 120%;
  width: 60%;
  justify-content: space-evenly;
  margin: 0 auto;
}

.navItems li {
  list-style: none;
  cursor: pointer;
}

.navItems li:hover {
  color: #f01313;
}

.grey {
  color: grey;
}

.moreItems ul > li {
  border-bottom: 1px solid rgb(249, 208, 208);
  padding: 15px 0px;
}

.moreItems ul {
  flex-direction: column;
  position: absolute;
  z-index: 1;
  right: 3%;
  text-align: center;
  width: max-content;
  padding-right: 30px;
  font-size: 20px;
  background-color: white;
}

.moreContent {
  display: none;
}

.moreItems:hover .moreContent {
  display: block;
}

@media screen and (max-width: 600px) {
 
  .cName{
    display: none;
  }

  .cLogo{
    display: block;
  }

  .cLogo img{
    width: 60%;
  }

  .navItems{
    font-size: 90%;
    margin-top: 30px;
  }

  .grey{
    display: none;
  }
}
