/* .TestimonialsMainPage {
  margin-top: 10%;
} */

.TestimonialsMainPage {
  width: 95%;
  height: 90vh;
}

.slider {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .images1 {
    /* background-image: url('https://static.wixstatic.com/media/11062b_558f00357585424e894fb7c595fc38fd~mv2.jpg/v1/fill/w_1520,h_620,al_c,q_85,usm_0.66_1.00_0.01/11062b_558f00357585424e894fb7c595fc38fd~mv2.webp'); */
    /* background:linear-gradient(rgba(24, 24, 24, 0.493),rgba(24, 24, 24, 0.493)),url('https://video.wixstatic.com/video/11062b_bc016da29c8b4da282f4052c9a538621/720p/mp4/file.mp4') autoPlay loop muted; */
    
    /* object-fit: cover; */
    /* width: 1150px;
    height: 60vh; */
    margin: 0% 14% 0% 14%;
    background-color: transparent;
    font-size: 1.6rem;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 4% 4% 4% 4%;
  }

  .consulting-vid {
    margin: 3%;
    position: absolute;
    width: 94%;
    height: 75vh;
    object-fit: cover;
    z-index: -1;
}
  
  .right-arrow1 {
    margin: 3%;
    margin-left: 6%;
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow1 {
    margin: 3%;
    margin-left: 6%;
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }



  

  @media screen and (max-width:950px) {
    .images1 {
      font-size: 1.3rem;
    }

    .right-arrow1 {
      right: 18px;
      font-size: 2rem;
    }

    .left-arrow1 {
      left: 18px;
      font-size: 2rem;
    }
    
}

@media screen and (max-width: 550px) {
  .images1 {
    font-size: 0.9rem;
  }

  .right-arrow1 {
    font-size: 2rem;
  }

  .left-arrow1 {
    font-size: 2rem;
  }
  
}